PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-09-05 07:41:17.262928');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2024-09-05 07:41:17.296591');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2024-09-05 07:41:17.349210');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "circadian_user" ("password" varchar(128) NOT NULL, "is_superuser" bool NOT NULL, "id" char(32) NOT NULL PRIMARY KEY, "username" varchar(64) NOT NULL UNIQUE, "email" varchar(64) NOT NULL UNIQUE, "created_at" datetime NOT NULL, "is_active" bool NOT NULL, "is_admin" bool NOT NULL, "is_staff" bool NOT NULL, "last_login" datetime NULL);
INSERT INTO circadian_user VALUES('pbkdf2_sha256$720000$V03GgYF5Fu0Y1xDD2KZOHk$4wp8AivL2szvAmCPv/IwnPNJUffrLv/ghHSrue/qMdQ=',1,'6bd92a14178e450aad011d59f8e5ee86','fuga','fu121gam1729@gmail.com','2024-09-05 07:43:09.802592',1,1,1,'2024-09-07 17:29:31.590993');
INSERT INTO circadian_user VALUES('pbkdf2_sha256$720000$EiKtdVhZrUE8uxloBrWz2j$wNs1kK1itlv0QdLW002QzRtM9bTopne1unwb5Jy/DfY=',0,'2a4758b5441f42a9b3f7cffe2b3027e2','harry','ilove@dogand.cat','2024-09-17 06:47:10.569478',1,0,0,NULL);
CREATE TABLE IF NOT EXISTS "circadian_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" char(32) NOT NULL REFERENCES "circadian_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "circadian_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" char(32) NOT NULL REFERENCES "circadian_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "circadian_log" ("id" char(32) NOT NULL PRIMARY KEY, "timestamp" datetime NOT NULL, "status" varchar(10) NOT NULL, "ip_address" char(39) NULL, "user_id" char(32) NULL REFERENCES "circadian_user" ("id") DEFERRABLE INITIALLY DEFERRED, "detail" varchar(200) NULL);
INSERT INTO circadian_log VALUES('3bc123607dde4a42bb18191cff4ad1cb','2024-09-14 11:59:05.909515','VISIT',NULL,'6bd92a14178e450aad011d59f8e5ee86',NULL);
INSERT INTO circadian_log VALUES('d8302d4c3c324e898cfc8181b3283062','2024-09-14 15:37:41.056492','LEAVE','127.0.0.1','6bd92a14178e450aad011d59f8e5ee86','/circadian/home');
INSERT INTO circadian_log VALUES('eb3dfa28c4e24405845468610787f079','2024-09-14 15:37:41.198075','VISIT','127.0.0.1','6bd92a14178e450aad011d59f8e5ee86','/circadian/home');
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" char(32) NOT NULL REFERENCES "circadian_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'4b5c3632-ad42-4dde-97b8-c614d220f3b3','harry',1,'[{"added": {}}]',6,'6bd92a14178e450aad011d59f8e5ee86','2024-09-05 07:43:35.332300');
INSERT INTO django_admin_log VALUES(2,'1','Setting object (1)',1,'[{"added": {}}]',10,'6bd92a14178e450aad011d59f8e5ee86','2024-09-05 07:48:27.941611');
INSERT INTO django_admin_log VALUES(3,'2','Setting object (2)',1,'[{"added": {}}]',10,'6bd92a14178e450aad011d59f8e5ee86','2024-09-05 07:48:36.059523');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('jwbz6nvnjyz1x3z1u51ud9m1f6317pgg','.eJxVjUsOgzAMBe-SdRPFgE3SZfc9A3Jip_QjkPisqt69ILFo129m3tt0vC59t846dXcxZ0NJYsXQWGiD2gY9WxYPFgRjCYqqgczpV0ucnzrsrjx4uI0uj8My3ZPbEXess7uOoq_Lwf4Fep77zVafJEDxVCtUUankSuoUSikAGRsOGQhFvWANhTQRRlapOCfaTrA1ny8Ub0Jf:1sm79C:TNsdFMmK9Km6bKJYxUdwC1tRsLWS-OKXi432TyaifcQ','2024-09-19 07:43:18.368813');
INSERT INTO django_session VALUES('nehps8o8s6u72nfutgm0dixqvb28fze9','.eJxVjUsOgzAMBe-SdRPFgE3SZfc9A3Jip_QjkPisqt69ILFo129m3tt0vC59t846dXcxZ0NJYsXQWGiD2gY9WxYPFgRjCYqqgczpV0ucnzrsrjx4uI0uj8My3ZPbEXess7uOoq_Lwf4Fep77zVafJEDxVCtUUankSuoUSikAGRsOGQhFvWANhTQRRlapOCfaTrA1ny8Ub0Jf:1smzFb:-YrJztsBwmmo3CkzhU4Vq-k_72caNru8SsBoYSjICFc','2024-09-21 17:29:31.599624');
CREATE TABLE IF NOT EXISTS "circadian_diary" ("date" date NOT NULL, "main_text" text NOT NULL, "progress" text NOT NULL, "memo" text NOT NULL, "todos" text NOT NULL CHECK ((JSON_VALID("todos") OR "todos" IS NULL)), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" char(32) NOT NULL REFERENCES "circadian_user" ("id") DEFERRABLE INITIALLY DEFERRED, "front_id" char(32) NOT NULL, "id" char(32) NOT NULL PRIMARY KEY, "files" text NOT NULL CHECK ((JSON_VALID("files") OR "files" IS NULL)));
INSERT INTO circadian_diary VALUES('2024-09-18','','','','[]','2024-09-18 07:23:50.865131','2024-09-18 07:23:50.865131','6bd92a14178e450aad011d59f8e5ee86','cbb2268ecfce4668be77643651d4e773','dab53ab5ef48403eac2c02cfd09805e7','[]');
CREATE TABLE IF NOT EXISTS "circadian_history" ("diary_id" char(32) NOT NULL REFERENCES "circadian_diary" ("id") DEFERRABLE INITIALLY DEFERRED, "id" char(32) NOT NULL PRIMARY KEY, "timestamp" datetime NOT NULL, "type" varchar(10) NOT NULL, "main_text_diff" text NOT NULL, "memo_diff" text NOT NULL, "progress_diff" text NOT NULL, "todos_diff" text NOT NULL CHECK ((JSON_VALID("todos_diff") OR "todos_diff" IS NULL)), "files_diff" text NOT NULL CHECK ((JSON_VALID("files_diff") OR "files_diff" IS NULL)));
INSERT INTO circadian_history VALUES('dab53ab5ef48403eac2c02cfd09805e7','882e14681f704c5f86cd54b0db12931e','2024-09-18 07:23:50.911369','CREATE','','','','[]','[]');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',34);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
INSERT INTO sqlite_sequence VALUES('auth_permission',48);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "circadian_u_usernam_18e490_idx" ON "circadian_user" ("username");
CREATE INDEX "circadian_u_email_42a336_idx" ON "circadian_user" ("email");
CREATE INDEX "circadian_l_user_id_df7c0a_idx" ON "circadian_log" ("user_id");
CREATE INDEX "circadian_l_timesta_e0262d_idx" ON "circadian_log" ("timestamp");
CREATE INDEX "circadian_l_user_id_6d8cfb_idx" ON "circadian_log" ("user_id", "timestamp");
CREATE UNIQUE INDEX "circadian_user_groups_user_id_group_id_c4807980_uniq" ON "circadian_user_groups" ("user_id", "group_id");
CREATE INDEX "circadian_user_groups_user_id_e9371413" ON "circadian_user_groups" ("user_id");
CREATE INDEX "circadian_user_groups_group_id_fb87346b" ON "circadian_user_groups" ("group_id");
CREATE UNIQUE INDEX "circadian_user_user_permissions_user_id_permission_id_143274a2_uniq" ON "circadian_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "circadian_user_user_permissions_user_id_eb945e84" ON "circadian_user_user_permissions" ("user_id");
CREATE INDEX "circadian_user_user_permissions_permission_id_6d989adc" ON "circadian_user_user_permissions" ("permission_id");
CREATE INDEX "circadian_log_timestamp_10d84634" ON "circadian_log" ("timestamp");
CREATE INDEX "circadian_log_user_id_dec3279a" ON "circadian_log" ("user_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE UNIQUE INDEX "circadian_diary_user_id_date_1a0a56d0_uniq" ON "circadian_diary" ("user_id", "date");
CREATE INDEX "circadian_diary_date_831671a6" ON "circadian_diary" ("date");
CREATE INDEX "circadian_diary_user_id_dee20b81" ON "circadian_diary" ("user_id");
CREATE INDEX "circadian_d_user_id_ca2c92_idx" ON "circadian_diary" ("user_id", "date");
CREATE INDEX "circadian_history_diary_id_b0eec648" ON "circadian_history" ("diary_id");
CREATE INDEX "circadian_h_diary_i_80a9ed_idx" ON "circadian_history" ("diary_id");
COMMIT;
