.logoutContainer {
    padding-top: 50px;
    text-align: center;
}

.logoutTitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--font-color-black);
    margin-bottom: 20px;
}

.logoutMessage {
    font-size: 1.2rem;
    color: var(--font-color-gray);
    margin-bottom: 50px;
}

.logoutButton {
    padding: 13px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton.confirm {
    background-color: var(--bg-color-red);
    color: white;
}

.logoutButton.cancel {
    background-color: #cccccc;
    color: var(--font-color-black);
}

.logoutButton:hover {
    opacity: 0.9;
}