.dateController {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
}


.dateTitleWapper {
    text-align: center;
    padding-inline: 3vw;
}

.dateTitle {
    margin: 0;
}



.cheronRightWapper {
    text-align: left;
}

.cheronLeftWapper {
    text-align: right;
}


.cheronImage {
    background-color: white;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    transition: .3s;
}

.cheronImage:hover {
    filter: var(--hover-filter);
}

.cheronImage:active {
    filter: var(--active-filter);
}