:root {
    --calendar-border-color: #bababa;
    --sunday-bg: #ffd1d1;
    --sunday-color: #990000;
    --saturday-bg: #ccf9ff;
    --saturday-color: #0102ff;
    --other-month-bg: #dedede;
    --other-month-color: #bababa;
}

#contentContainer {
    height: 100vh;
}

#dateController {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#dateController h1 {
    margin-block: 0;
}

#dateController img {
    width: 50px;
    cursor: pointer;
    transition: filter 0.3s;
}

#dateController img:hover {
    filter: brightness(0.9);
}

#calendarBox {
    width: 100%;
    height: min(calc(100% - 100px), 120vw);
    margin-top: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

@media (width: 767px) {
    #calendarBox {
        height: 100vw;
    }
}



.calendar-day {
    font-size: 20px;
    padding: 2px;
    border: 0.8px solid var(--calendar-border-color);
    background-color: white;
    transition: filter 0.3s;
    cursor: pointer;
}

.calendar-day:hover {
    filter: brightness(0.95);
}

.calendar-day:active {
    filter: brightness(0.78);
}

.calendar-day.sunday {
    background-color: var(--sunday-bg);
    color: var(--sunday-color);
}

.calendar-day.saturday {
    background-color: var(--saturday-bg);
    color: var(--saturday-color);
}

.calendar-day.previous-month-day,
.calendar-day.next-month-day {
    background-color: var(--other-month-bg);
    color: var(--other-month-color);
}

@media (max-width: 767px) {
    .calendar-day {
        font-size: clamp(14px, 2.6vw, 20px);
    }
}