.histories {
    list-style: none;
}

.histories > li {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .histories {
        padding: 0;
    }

    .histories > li {
        grid-template-columns: 120px 1fr;
    }
}



.histories > li > .date, .histories > li > .message {
    display: flex;
    align-items: center;
}

div.date {
    grid-column: 1;
    font-size: 13px;
}

div.message {
    grid-column: 2;
    font-size: 15px;
}

@media (max-width: 767px) {
    div.date {
        font-size: 11px;
    }

    div.message {
        font-size: 15px;
    }
}



.diary {
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    width: 480px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0px 300px 180px;
}

.main-text-container {
    grid-column: 1 / 3;
    grid-row: 2;
}

.main-text-container > div {
    overflow: auto;
    scrollbar-gutter: stable;
}

@media (max-width: 767px) {
    .diary {
        width: 100%;
    }
}